doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Admin Home
    // CSS
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/font.css')
    link(rel='stylesheet', href='/stylesheets/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/assets/css/style.css')
  body
    if messages.success && messages.success.length
      div.alert.alert-success=messages.success
    if messages.error && messages.error.length
      div.alert.alert-danger=error
    // Top content
    .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong Hello Admin
                a.btn.btn-info(href='/admin/logout', role='button',style="margin:10px;") Logout!
          .row
            .col-sm-4.form-box
              .form-top
                .form-top-left
                  h3 Student
                  <br>
                .form-group
                    a.btn.btn-info(href='/students/new', role='button') Add Student
                .form-group
                    a.btn.btn-info(href='/students/get_username_delete', role='button') Delete Student
                .form-group
                    a.btn.btn-info(href='/students/view', role='button') View Students
                 
            .col-sm-4.form-box
              .form-top
                .form-top-left
                  h3 Exam
                  <br>
                .form-group
                    a.btn.btn-info(href='/make_exam/new', role='button') Make Exam
                .form-group
                    a.btn.btn-info(href='/make_exam/view', role='button') View Exam
    // Javascript
    script(src='/stylesheets/assets/js/jquery-1.11.1.min.js')
    script(src='/stylesheets/assets/bootstrap/js/bootstrap.min.js')
    script(src='/stylesheets/assets/js/jquery.backstretch.min.js')
    script(src='/stylesheets/assets/js/scripts.js')
    //if lt IE 10
      script(src='assets/js/placeholder.js')
